<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AJAX practice</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="main" v-cloak>
          <h1>Poll Results</h1>
          <ol>
            <li v-for="(eachCandidate, eachIndex) in pollResults">
              {{ eachCandidate }}
            </li>
          </ol>
          <ol>
            <li v-for="(eachCandidate, eachIndex) in voteSubmission">
              {{ eachCandidate }}
            </li>
          </ol>
        </div>
    </body>

    <script src="js/vue.global.js"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="js/client.js"></script>
</html>